aiml==0.8.6
alabaster==0.7.9
alembic==0.8.8
amqp==1.4.9
anaconda-client==1.6.0
anaconda-navigator==1.4.3
anyjson==0.3.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astroid==1.4.9
astropy==1.3
atomicfile==1.0
awscli==1.9.5
Babel==2.3.4
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.0
billiard==3.3.0.23
bitarray==0.8.1
blaze==0.10.1
blinker==1.4
bokeh==0.12.4
boto==2.45.0
botocore==1.3.5
Bottleneck==1.2.0
cdecimal==2.3
celery==3.1.24
certifi==2015.9.6.2
cffi==1.9.1
chardet==2.3.0
chest==0.2.3
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.3
conda==4.3.8
configobj==5.0.6
configparser==3.5.0
contextlib2==0.5.4
cryptography==1.7.1
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==0.13.0
datashape==0.5.4
decorator==4.0.4
dill==0.2.5
docutils==0.12
dominate==2.2.1
ecdsa==0.13
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
feedparser==5.2.1
Flask==0.10.1
Flask-Bootstrap==3.3.7.0
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.0
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.0.5
gevent==1.2.1
gnureadline==6.3.3
greenlet==0.4.11
grin==1.2.1
h5py==2.6.0
HeapDict==1.0.0
idna==2.2
imagesize==0.7.1
ipaddress==1.0.18
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.3
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.9.0
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
kombu==3.0.37
lazy-object-proxy==1.2.2
llvmlite==0.15.0
locket==0.2.0
lxml==3.4.4
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.4.3
mechanize==0.2.5
mercurial==2.8
mistune==0.7.1
mock==2.0.0
monty==0.6.5
mpmath==0.19
multipledispatch==0.4.9
mysql-connector-python==2.0.4
MySQL-python==1.2.5
nbconvert==4.0.0
nbformat==4.0.1
networkx==1.10
nltk==3.0.5
nose==1.3.7
notebook==4.0.6
numba==0.30.1+0.g8c1033f.dirty
numexpr==2.6.1
numpy==1.12.0
numpydoc==0.6.0
odo==0.5.0
openpyxl==2.4.1
pandas==0.16.2
paramiko==1.15.2
partd==0.3.7
path.py==8.1.2
pathlib2==2.2.0
patsy==0.4.1
pbr==1.8.0
pdfminer==20140328
pep8==1.6.2
pexpect==4.0.1
pickleshare==0.5
Pillow==2.9.0
ply==3.9
prettytable==0.7.2
prompt-toolkit==1.0.9
protobuf==3.2.0
psutil==5.0.1
ptyprocess==0.5
py==1.4.32
pyasn1==0.1.9
PyAudio==0.2.7
pybtex==0.18
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
pygame==1.9.2rc1
pygeoip==0.3.2
Pygments==2.0.2
pyhull==1.5.4
pylab==0.1.3
pylint==1.6.4
pymatgen==3.1.1
pymongo==3.4.0
pyOpenSSL==16.2.0
pyparsing==2.0.3
pyPdf==1.13
pysqlite==2.8.1
pytest==3.0.5
python-dateutil==2.4.2
python-editor==1.0.1
python-nmap==0.6.1
pytz==2015.6
PyYAML==3.11
pyzmq==14.7.0
qingcloud-cli==1.0.2
qingcloud-sdk==0.9.7
QtAwesome==0.4.3
qtconsole==4.1.0
QtPy==1.2.1
redis==2.10.5
requests==2.7.0
rope==0.9.4
rsa==3.2
scandir==1.4
scikit-image==0.11.3
scikit-learn==0.17.1
scipy==0.16.0
seaborn==0.6.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
Sphinx==1.5.1
spyder==3.1.2
SQLAlchemy==1.0.8
statsmodels==0.6.1
subprocess32==3.2.7
sympy==0.7.6.1
tables==3.3.0
tensorflow==1.0.0
terminado==0.5
toolz==0.8.2
tornado==4.2.1
traitlets==4.0.0
unicodecsv==0.14.1
update==0.4.4
virtualenv==13.1.2
visitor==0.1.3
wcwidth==0.1.7
web.py==0.37
web2py==2.1.1
Werkzeug==0.10.4
widgetsnbextension==1.2.6
wrapt==1.10.8
WTForms==2.1
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.2
xlwt==1.2.0
