{% extends "bootstrap/base.html" %}

{% block title %}AIGO{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
</button>
                 <a class="navbar-brand" href="/">AIGO</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li><a href="/logout">Logout </a></li>
                    {% else %}
                        <li><a href="/signup">Sign up</a></li>
                        <li><a href="/signin">Sign in</a></li>
                    {% endif %}
                 </ul>
             </div>
         </div>
</div>
{% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}
{% endblock %}
