{% extends "base.html" %}
{% block content %}
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <hr>
    <br>
    <br>
    {% if not current_user.is_authenticated %}
    <form action='/signin' method="POST" class="am-form">
      <label for="email">邮箱:</label>
      <input type="email" name="email" required id="email" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="pwd" required id="password" value="">
      <br>
      <label for="remember-me">
        <input id="remember-me" type="checkbox">
        记住密码
      </label>
      <br />
      <div class="am-cf">
      </br>
        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        &nbsp;&nbsp;
        <input type="submit" formaction="/signup" name="" value="注 册" class="am-btn am-btn-default am-btn-sm">
        <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
    </form>
    <hr>
    {% endif %}
  </div>
</div>
{% endblock %}