{% extends "base.html" %}
{% block content %}
<div>
    <form action='/signin' method='POST'>

            <h2 class="form-signin-heading">AIGO - 登陆</h2>
            <!--用户输入-->
             <label for="inputEmail">账号</label>
            <input type="email" name="email" placeholder="邮箱" required autofocus>
            <label for="inputPassword">密码</label>
            <input type="password" name="pwd" placeholder="密码" required>
            
            <button type="submit">注册</button>
         
    </form>
</div>
{% endblock %}