{% extends "base.html" %}
{% block content %}
<div>
    <h1>Welcome {{ userid }}</h1>
    <form action="/game" method="POST">
        <input type="radio" name="color" value="Black" checked="checked">执黑</input>
        <input type="radio" name="color" value="White" checked="checked">执白</input>
        <select name="opponent">
            <option value="random">Random</option>
            <option value="cnn">CNN(todo)</option>
        </select>
        <button type="submit">开始新游戏</button>
    </form>
</div>
{% endblock %}
